// .card{
//     // display:flex;
//     // flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
//     margin: 10px;
//     padding: 20px;
//     // width: 200%;
//     max-height: 400px;
//     min-width: 100px;
//     position: relative;

//     background-color: white;
//     z-index: 1;

// }

// .card {
//   margin: 1rem;
//   display: flexbox;
//   margin: 1em 1em 1em 2em;
//   width: 100%;
// }
.card__image{
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;

}

.price {
    text-align: center;
    font-style: bold;
}

.name {
 font-style: italic;
 text-align: center;
}

// * {
//     margin: auto;
//     padding: 0;
//     box-sizing: border-box;
// }


// .app {
//     margin: 0 auto;
//   }
// .card__price{
//     margin-top: 5px;
// }
// .card__info{
//     text-align:center;
//     height: 100px;
//     margin-bottom: 15px;

// }

// .cart__button{
//     background: hsl(43, 78%, 83%);
//     border: none;
//     margin-top: 10px;
//     padding: 5px;
//     border-radius: 15px;
//     border-color: #a88734 #9c7e31 #846a29;
//     color: #111
// }

// .delete__button{
//     background: red;
//     border: none;
//     margin: 10px;
//     padding: 5px;
//     margin-top: 10px;
//     border-radius: 15px;
//     border-color: #a88734 #9c7e31 #846a29;
//     color: #111
// }

// button {

//     border-radius: 15px;
//     border: none;
//     padding: 5px;

// }
